.header {
    margin: 0 30px;
    min-height: 112px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    &__wrapper {
        position: fixed;
        background: rgba(25, 25, 25, 0.4);
        min-height: 112px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        z-index: 10;
    }
    &__logo {
        font-family: 'Bigshot One', cursive;
        font-size: 25px;
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    &__menu {
        width: 47%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        &_item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 14%;
            height: 32px;
            &-link {
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                color: rgb(255, 255, 255);
            }
        }
        &_item:hover {
            border: 1px solid white;
            border-radius: 16px;
        }
        &_item:hover &_item-link {
            text-decoration: none;
            color: white;
        }
    }
}

.carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    &-item {
        background-position: center;
        background-size: cover;
        width: 100%;
        min-height: 736px;
    }
    &-caption {
        top: 300px;
        &-name {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 35px;
            color: rgb(255, 255, 255);
        }
        &-pr {
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            color: rgb(255, 255, 255);
        }
    }
}

.aboutus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 450px;
    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        min-height: 450px;
    }
    &__text {
        width: 43%;
        &_name {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 20px;
            color: rgb(51, 59, 70);
            font-weight: bold;
        }
        &_pr {
            padding-top: 50px;
            padding-bottom: 35px;
            font-size: 14px;
            font-family: 'Source Sans Pro', sans-serif;
            color: rgb(129, 134, 142);
            font-weight: bold;
        }
        &_form {
            &-button {
                background: white;
                min-width: 140px;
                height: 37px;
                font-size: 16px;
                font-family: "OpenSans";
                color: rgb(51, 59, 70);
                border: 1px solid rgb(51, 59, 70);
                border-radius: 16px;
                cursor: pointer;
            }
        }
    }
    &__phone {
        margin-left: 50px;
    }
}

.details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    min-height: 615px;
    width: 100%;
    &__wrapper {
        background: rgb(243, 243, 243);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-height: 615px;
        width: 100%;
    }
    &__title {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        min-height: 100px;
        width: 450px;
        &_name {
            font-size: 20px;
            font-family: "SourceSansPro";
            color: rgb(51, 59, 70);
        }
        &_pr {
            font-size: 14px;
            font-family: "SourceSansPro";
            color: rgb(129, 134, 142);
        }
    }
    &__icon {
        width: 210px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        &_heart {
            background: url('heart.png') no-repeat;
            width: 53px;
            height: 53px;
        }
        &_mouse {
            background: url('mouse.png') no-repeat;
            width: 53px;
            height: 53px;
        }
        &_lump {
            background: url('lump.png') no-repeat;
            width: 53px;
            height: 53px;
        }
        &_heart:hover {
            background: url('hearthover.png') no-repeat;
        }
        &_mouse:hover {
            background: url('mousehover.png') no-repeat;
        }
        &_lump:hover {
            background: url('lumphover.png') no-repeat;
        }
    }
    &__text {
        min-height: 170px;
        width: 85%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        &_item {
            &-caption {
                min-height: 30px;
                font-size: 20px;
                font-family: "SourceSansPro";
                color: rgb(70, 70, 70);
            }
            &-paragraph {
                margin-top: 30px;
                font-size: 16px;
                font-family: "SourceSansPro";
                color: rgb(129, 134, 142);
            }
            &-paragraph:nth-child(2) {
                margin-top: 30px;
            }
        }
        &_item:nth-child(1) {
            width: 33%;
        }
        &_item:nth-child(2) {
            width: 55%;
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    min-height: 560px;
    width: 100%;
    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-height: 560px;
        width: 100%;
    }
    &__title {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        min-height: 100px;
        width: 450px;
        &_name {
            font-size: 20px;
            font-family: "SourceSansPro";
            color: rgb(51, 59, 70);
        }
        &_pr {
            font-size: 14px;
            font-family: "SourceSansPro";
            color: rgb(129, 134, 142);
        }
    }
    &__featured {
        margin-top: 60px;
        min-height: 319px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        &_item:nth-child(1) {
            background: url('whisky.jpg') no-repeat;
            width: 701px;
            height: 319px;
        }
        &_item:nth-child(2) {
            background: url('whisky2.jpg') no-repeat;
            width: 336px;
            height: 319px;
        }
        &_item:nth-child(3) {
            background: url('whisky3.jpg') no-repeat;
            width: 316px;
            height: 319px;
        }
        &_item:hover {
            filter: grayscale(100%) brightness(34%) contrast(94%);
            -webkit-filter: grayscale(100%) brightness(34%) contrast(94%);
        }
    }
}

.fold {
    margin: 0 30px;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    min-height: 115px;
    &__wrapper {
        background: url('shoots.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-height: 115px;
    }
    &__text {
        font-size: 20px;
        font-family: "OpenSans";
        color: rgb(255, 255, 255);
    }
    &__form {
        margin-left: 40px;
        &_button {
            background: none;
            min-width: 140px;
            height: 37px;
            font-size: 16px;
            font-family: "OpenSans";
            color: white;
            border: 1px solid white;
            border-radius: 16px;
            cursor: pointer;
        }
    }
}

.services {
    min-height: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-height: 640px;
    }
    &__title {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        min-height: 100px;
        width: 450px;
        &_name {
            font-size: 20px;
            font-family: "SourceSansPro";
            color: rgb(51, 59, 70);
        }
        &_pr {
            font-size: 14px;
            font-family: "SourceSansPro";
            color: rgb(129, 134, 142);
        }
    }
    &__menu {
        width: 80%;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    &__menu .row {
        width: 100%;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    &__menu .col-4 {
        width: 53px !important;
        min-height: 300px;
    }
    &__menu .col-123 {
        margin-left: 10px;
        width: 900px;
        min-height: 300px;
    }
    &__menu .tab-content {
        width: 900px;
        height: 300px;
    }
    &__menu .tab-pane .fade {
        width: 900px;
        height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
    &__menu .tab-pane-text {
        width: 900px;
        height: 300px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
    }
    &__menu .tab-pane-text-name {
        font-size: 20px;
        font-family: "SourceSansPro";
        color: rgb(51, 59, 70);
        width: 400px;
    }
    &__menu .tab-pane-text-pr {
        font-size: 16px;
        font-family: "OpenSans";
        color: rgb(129, 134, 142);
        width: 400px;
        min-height: 100px;
    }
    &__menu .tab-pane-text-listen {
        width: 500px;
        height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
    &__menu .tab-pane-text-listen-circle-caption {
        padding-top: 15px;
        text-align: center;
        font-size: 16px;
        font-family: "Roboto";
        color: rgb(129, 134, 142);
    }
    &__menu .list-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: flex-end;
        max-width: 10%;
        min-height: 300px;
    }
    &__menu .list-group-item {
        background: url('screwdriver.png') no-repeat;
        height: 53px;
        width: 53px;
        border: none;
    }
    &__menu .list-group-item:nth-child(2) {
        background: url('build.png') no-repeat;
        height: 53px;
        width: 53px;
        border: none;
    }
    &__menu .list-group-item:nth-child(3) {
        background: url('game.png') no-repeat;
        height: 53px;
        width: 53px;
        border: none;
    }
    &__menu .list-group-item:nth-child(4) {
        background: url('socket.png') no-repeat;
        height: 53px;
        width: 53px;
        border: none;
    }
    &__menu .list-group-item.active {
        background: url('screwdriverhover.png') no-repeat;
        height: 53px;
        width: 53px;
        border: none;
    }
    &__menu .list-group-item.active:nth-child(2) {
        background: url('buildhover.png') no-repeat;
        height: 53px;
        width: 53px;
        border: none;
    }
    &__menu .list-group-item.active:nth-child(3) {
        background: url('gamehover.png') no-repeat;
        height: 53px;
        width: 53px;
        border: none;
    }
    &__menu .list-group-item.active:nth-child(4) {
        background: url('sockethover.png') no-repeat;
        height: 53px;
        width: 53px;
        border: none;
    }
}

.quotes {
    position: relative;
    margin: 0 30px;
    min-height: 392px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    &__wrapper {
        background: url('quotes.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 392px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    &__text {
        width: 51%;
        &_caption {
            font-size: 20px;
            font-family: "SourceSansPro";
            color: rgb(243, 243, 243);
        }
        &_about {
            margin-top: 50px;
            margin-bottom: 30px;
            font-size: 16px;
            font-family: "OpenSans";
            color: rgb(178, 179, 179);
            width: 81%;
        }
        &_name {
            font-size: 14px;
            font-family: "OpenSans";
            color: rgb(178, 179, 179);
            font-weight: bold;
        }
        &_profesion {
            font-size: 14px;
            font-family: "OpenSans";
            color: rgb(178, 179, 179);
        }
        &_profesion span {
            color: rgb(26, 168, 138);
        }
    }
    &__photo {
        background: url('apple.png') no-repeat;
        width: 409px;
        min-height: 340px;
        top: -30px;
        right: 50px;
        position: absolute;
    }
}

.portfolio {
    min-height: 1635px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    &__wrapper {
        background: rgb(243, 243, 243);
        min-height: 1635px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    &__title {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        min-height: 100px;
        width: 450px;
        &_name {
            font-size: 20px;
            font-family: "SourceSansPro";
            color: rgb(51, 59, 70);
        }
        &_pr {
            font-size: 14px;
            font-family: "SourceSansPro";
            color: rgb(129, 134, 142);
        }
    }
    &__menu {
        width: 42%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        &_item a {
            text-decoration: none;
            font-size: 16px;
            font-family: "OpenSans";
            color: rgb(70, 70, 70);
        }
        &_item:hover {
            border-bottom: 2px solid rgb(25, 189, 154);
            font-weight: bold;
        }
    }
    &__gallery {
        width: 1112px;
        height: 950px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: space-between;
        &_image {
            width: 100%;
            height: 100%;
            &_background {
                z-index: 2;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                align-content: center;
                &_text {
                    z-index: 10;
                    min-height: 60%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    align-content: flex-start;
                    opacity: 0;
                    padding: 0 40px;
                    &-name {
                        filter: none;
                        -webkit-filter: none;
                        font-size: 20px;
                        font-family: "SourceSansPro";
                        color: rgb(25, 189, 154);
                    }
                    &-line {
                        border: 1px solid rgb(25, 189, 154);
                        width: 23px;
                    }
                    &-pr {
                        font-size: 12px;
                        font-family: "OpenSans";
                        color: rgb(178, 179, 179);
                        transition: all 0.2s linear;
                    }
                }
            }
        }
        &_image:hover &_image_background {
            background: rgba(25, 25, 25, 0.9);
        }
        &_image:hover &_image_background_text {
            opacity: 1;
        }
        &_image:nth-child(1) {
            background: url('image1.jpg') no-repeat;
            width: 270px;
            height: 361px;
        }
        &_image:nth-child(4) {
            background: url('image2.jpg') no-repeat;
            width: 270px;
            height: 229px;
        }
        &_image:nth-child(7) {
            background: url('image3.jpg') no-repeat;
            width: 270px;
            height: 301px;
        }
        &_image:nth-child(10) {
            background: url('image4.jpg') no-repeat;
            width: 270px;
            height: 361px;
        }
        &_image:nth-child(2) {
            background: url('image5.jpg') no-repeat;
            width: 270px;
            height: 361px;
        }
        &_image:nth-child(5) {
            background: url('image6.jpg') no-repeat;
            width: 270px;
            height: 344px;
            align-self: flex-start;
        }
        &_image:nth-child(8) {
            background: url('image7.jpg') no-repeat;
            width: 270px;
            height: 374px;
        }
        &_image:nth-child(11) {
            background: url('image8.jpg') no-repeat;
            width: 270px;
            height: 269px;
        }
        &_image:nth-child(3) {
            background: url('image9.jpg') no-repeat;
            width: 270px;
            height: 209px;
        }
        &_image:nth-child(6) {
            background: url('image10.jpg') no-repeat;
            width: 270px;
            height: 357px;
        }
        &_image:nth-child(9) {
            background: url('image11.jpg') no-repeat;
            width: 270px;
            height: 255px;
        }
        &_image:nth-child(12) {
            background: url('image12.jpg') no-repeat;
            width: 270px;
            height: 301px;
        }
    }
    &__cta {
        margin: 0 30px;
        background: url('cta.jpg') no-repeat;
        background-position: center;
        width: 100%;
        min-height: 201px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        &_text {
            font-size: 20px;
            font-family: "OpenSans";
            color: rgb(255, 255, 255);
            line-height: 1.25;
        }
        &_form {
            margin-top: 30px;
            &-button {
                background: none;
                min-width: 140px;
                height: 37px;
                font-size: 16px;
                font-family: "OpenSans";
                color: white;
                border: 1px solid white;
                border-radius: 16px;
                cursor: pointer;
            }
        }
    }
}

.team {
    min-height: 770px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    &__wrapper {
        background: rgb(243, 243, 243);
        min-height: 770px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    &__title {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        min-height: 100px;
        width: 450px;
        &_name {
            font-size: 20px;
            font-family: "SourceSansPro";
            color: rgb(51, 59, 70);
        }
        &_pr {
            font-size: 14px;
            font-family: "SourceSansPro";
            color: rgb(129, 134, 142);
        }
    }
    & .carousel {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        width: 80%;
        min-height: 365px;
        &-indicators .active {
            background: rgb(25, 189, 154);
        }
        &-indicators li {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            border: 1px solid rgb(25, 189, 154);
            background: none;
        }
        &-inner {
            width: 100%;
            min-height: 365px;
        }
        &-item {
            width: 100%;
            min-height: 365px;
        }
        &-caption {
            width: 100%;
            height: 435px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            position: static;
            top: 0;
            left: 0;
            right: 0;
            padding: 0;
            margin: 0;
            &-about {
                width: 100%;
                height: 365px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: flex-start;
                align-content: flex-start;
                &-photo {
                    background: url('veiper.jpg') no-repeat;
                    width: 285px;
                    height: 365px;
                }
                &-photo2 {
                    background: url('veiper2.jpg') no-repeat;
                    width: 285px;
                    height: 365px;
                }
                &-text {
                    color: black;
                    width: 400px;
                    height: 365px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: flex-end;
                    align-content: flex-end;
                    &-name {
                        font-size: 20px;
                        font-family: "OpenSans";
                        color: rgb(70, 70, 70);
                        font-weight: bold;
                    }
                    &-profesion {
                        font-size: 14px;
                        font-family: "SourceSansPro";
                        color: rgb(129, 134, 142);
                        font-style: italic;
                    }
                    &-pr {
                        margin: 35px 0;
                        text-align: right;
                        font-size: 14px;
                        font-family: "OpenSans";
                        color: rgb(129, 134, 142);
                    }
                    &-item {
                        margin: 10px 0;
                        width: 330px;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        min-height: 30px;
                        &-statistik {
                            width: 330px;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            align-items: flex-start;
                            align-content: flex-start;
                            &-mark {
                                font-size: 16px;
                                font-family: "SourceSansPro";
                                color: rgb(129, 134, 142);
                                text-transform: uppercase;
                            }
                            &-percentages {
                                font-size: 16px;
                                font-family: "SourceSansPro";
                                color: rgb(129, 134, 142);
                                text-transform: uppercase;
                            }
                        }
                        &-line1 {
                            width: 330px;
                            height: 4px;
                            background: linear-gradient(to right, #25bf9f 0%, #19bd9a 0%, #19bd9a 81%, #e1e4e9 81%, #e1e4e9 100%);
                        }
                        &-line2 {
                            width: 330px;
                            height: 4px;
                            background: linear-gradient(to right, #19bd9a 0%, #19bd9a 60%, #e1e4e9 60%, #e1e4e9 100%);
                        }
                        &-line3 {
                            width: 330px;
                            height: 4px;
                            background: linear-gradient(to right, #19bd9a 0%, #19bd9a 79%, #e1e4e9 79%, #e1e4e9 100%);
                        }
                    }
                }
            }
        }
    }
}

.teamcta {
    min-height: 201px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    &__wrapper {
        background: url('ctateam.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 201px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    &__text {
        font-size: 20px;
        font-family: "OpenSans";
        color: rgb(255, 255, 255);
        line-height: 1.25;
    }
    &__form {
        margin-top: 30px;
        &_button {
            background: none;
            min-width: 140px;
            height: 37px;
            font-size: 16px;
            font-family: "OpenSans";
            color: white;
            border: 1px solid white;
            border-radius: 16px;
            cursor: pointer;
        }
    }
}

.testimonials {
    min-height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    &__wrapper {
        background: rgb(243, 243, 243);
        min-height: 650px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    &__title {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        min-height: 100px;
        width: 450px;
        &_name {
            font-size: 20px;
            font-family: "SourceSansPro";
            color: rgb(51, 59, 70);
        }
        &_pr {
            font-size: 14px;
            font-family: "SourceSansPro";
            color: rgb(129, 134, 142);
        }
    }
    & .carousel {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        width: 90%;
        min-height: 210px;
        &-indicators .active {
            background: rgb(25, 189, 154);
        }
        &-indicators li {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            border: 1px solid rgb(25, 189, 154);
            background: none;
        }
        &-inner {
            width: 100%;
            min-height: 210px;
        }
        &-item {
            width: 100%;
            min-height: 210px;
        }
        &-caption {
            background: rgb(255, 255, 255);
            width: 100%;
            height: 210px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            position: static;
            top: 0;
            left: 0;
            right: 0;
            padding: 0;
            margin: 0;
            &-about {
                background: rgb(255, 255, 255);
                width: 100%;
                height: 210px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: center;
                &-photo {
                    background: url('eyes.png') no-repeat;
                    width: 130px;
                    height: 130px;
                }
                &-photo2 {
                    background: url('fai.png') no-repeat;
                    width: 130px;
                    height: 130px;
                }
                &-photo3 {
                    background: url('gabri.png') no-repeat;
                    width: 130px;
                    height: 130px;
                }
                &-text {
                    color: black;
                    width: 700px;
                    height: 150px;
                    margin-left: 50px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: flex-start;
                    align-content: flex-start;
                    &-prs {
                        text-align: justify;
                        font-size: 16px;
                        font-family: "OpenSans";
                        color: rgb(129, 134, 142);
                    }
                    &-names {
                        font-size: 16px;
                        font-family: "OpenSans";
                        color: rgb(25, 189, 154);
                        font-weight: bold;
                    }
                    &-profesions {
                        font-size: 16px;
                        font-family: "OpenSans";
                        color: black;
                        line-height: 1.75;
                    }
                }
            }
        }
    }
}

.blog {
    margin: 0 30px;
    min-height: 693px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    &__wrapper {
        background: url('blog.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 693px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    & .carousel {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        width: 100%;
        min-height: 693px;
        &-indicators {
            align-items: flex-end;
            justify-content: center;
            top: 10px;
            flex-direction: column;
            width: 80%;
        }
        &-indicators .active {
            background: white;
        }
        &-indicators li {
            margin: 2px 0;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            border: 1px solid white;
            background: none;
        }
        &-inner {
            width: 100%;
            min-height: 693px;
        }
        &-item {
            width: 100%;
            min-height: 693px;
        }
        &-caption {
            width: 100%;
            min-height: 693px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
            position: static;
            top: 0;
            left: 0;
            right: 0;
            padding: 0;
            margin: 0;
            &-about {
                width: 100%;
                min-height: 693px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-around;
                align-items: flex-start;
                align-content: flex-start;
                &-title {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 460px;
                    min-height: 150px;
                    &-name {
                        letter-spacing: 0.2em;
                        font-size: 20px;
                        font-family: "SourceSansPro";
                        color: rgb(255, 255, 255);
                    }
                    &-pr {
                        text-align: left;
                        font-size: 14px;
                        font-family: "OpenSans";
                        color: rgb(178, 179, 179);
                    }
                }
                &-landingpages {
                    margin: 0 70px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 45%;
                    min-height: 400px;
                    &-name {
                        font-size: 20px;
                        font-family: "OpenSans";
                        color: rgb(225, 228, 233);
                    }
                    &-author {
                        font-size: 14px;
                        font-family: "SourceSansPro";
                        color: rgb(129, 134, 142);
                    }
                    &-author span {
                        color: rgb(25, 189, 154);
                    }
                    &-likes {
                        padding: 15px 0;
                        font-size: 14px;
                        font-family: "SourceSansPro";
                        color: rgb(70, 70, 70);
                    }
                    &-pr {
                        margin: 45px 0;
                        text-align: justify;
                        font-size: 14px;
                        font-family: "OpenSans";
                        color: rgb(129, 134, 142);
                    }
                    &-button {
                        background: none;
                        border: 1px solid rgb(129, 134, 142);
                        border-radius: 16px;
                        min-width: 140;
                        height: 35px;
                        font-size: 16px;
                        font-family: "OpenSans";
                        color: rgb(178, 179, 179);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.price{
    min-height: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    &__wrapper {
        background: rgb(243, 243, 243);
        min-height: 640px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    &__title {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        min-height: 100px;
        width: 450px;
        &_name {
            font-size: 20px;
            font-family: "SourceSansPro";
            color: rgb(51, 59, 70);
        }
        &_pr {
            font-size: 14px;
            font-family: "SourceSansPro";
            color: rgb(129, 134, 142);
        }
    }   
    &__plans{
        width: 71%;
        min-height: 302px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        &_item{
            position: relative;
            width: 235px;
            min-height: 302px;
            &-name{
                width: 100%;
                min-height: 67px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(25, 189, 154);
                font-size: 20px;
                font-family: "OpenSans";
                color: rgb(255, 255, 255);
                font-weight: bold;
                
            }
            &-payment{
                border: 1px solid rgba(207, 207, 207,0.5);
                width: 100%;
                min-height: 235px;
                background: white; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &-number{
                    font-size: 20px;
                    font-family: "SourceSansPro";
                    color: rgb(31, 187, 166);
                    font-weight: bold;
                    -moz-transform: matrix( 2.11373804153529,0,0,2.11373804153528,0,0);
                    -webkit-transform: matrix( 2.11373804153529,0,0,2.11373804153528,0,0);
                    -ms-transform: matrix( 2.11373804153529,0,0,2.11373804153528,0,0);
                      
                }
                &-month{
                    font-size: 20px;
                    font-family: "OpenSans";
                    color: rgb(129, 134, 142);
                }
            }
            &-hover{ 
                opacity: 0;
                top:0;
                position: absolute;
                width: 235px;
                min-height: 302px;
                &-list{
                    border: 1px solid rgba(207, 207, 207,0.5);
                    padding: 34px;
                    width: 100%;
                    min-height: 235px;
                    background: white; 
                    display: flex;
                    flex-direction: column;
                    justify-content:space-between;
                    align-items: flex-start;
                    &-offer{
                        font-size: 16px;
                        font-family: "OpenSans";
                        color: rgb(146, 150, 157);       
                    }
                } 
                &-button{
                    background: rgb(25, 189, 154);
                    font-size: 16px;
                    font-family: "OpenSans";
                    color: rgb(255, 255, 255);
                    width: 100%;
                    min-height: 67px;
                    border: none;
                    cursor: pointer;
                }
            }  
        }
        &_item:hover &_item-hover{
            opacity: 1;
        }
    }  
}

.subscribe{
    min-height: 378px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    &__wrapper {
        background: url('subscribe.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 378px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    &__title {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        min-height: 100px;
        width: 450px;
        &_name {
            font-size: 20px;
            font-family: "SourceSansPro";
            color: rgb(255, 255, 255);
              
        }
        &_pr {
            font-size: 14px;
            font-family: "SourceSansPro";
            color: rgb(129, 134, 142);
        }
    } 
    &__form{
        width: 521px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 40px;
        &_email{
            padding: 0 20px;
            min-width: 355px;
            height: 40px;
           background: none;
           border: 1px solid  rgb(129, 134, 142); 
           color: white;
        }
        &_button{
            width: 150px;
            height: 40px;
            border: none;
            background: rgb(25, 189, 154);
            font-size: 16px;
            font-family: "OpenSans";
            color: rgb(255, 255, 255);
            
            border: none;
            cursor: pointer;
        }
    }
}

.contact{
    min-height: 610px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    &__wrapper {
        background: rgb(243, 243, 243);
        min-height: 610px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    &__title {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        min-height: 100px;
        width: 450px;
        &_name {
            font-size: 20px;
            font-family: "SourceSansPro";
            color: rgb(51, 59, 70);
        }
        &_pr {
            font-size: 14px;
            font-family: "SourceSansPro";
            color: rgb(129, 134, 142);
        }
    }
    &__list{
        width: 80%;
        min-height: 272px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: space-between;
        &_item{
            width: 287px;
            min-height: 272px;
            &_email{
                background: url('email.jpg') no-repeat;
                width: 287px;
                height: 145px;
            } 
            &_adress{
                background: url('adress.jpg') no-repeat;
                width: 287px;
                height: 145px;
            } 
            &_phone{
                background: url('phone.jpg') no-repeat;
                width: 287px;
                height: 145px;
            } 
            &_about{
                border: 1px solid rgba(207, 207, 207,0.5);
                padding: 30px 0;
                width: 287px;
                min-height: 127px; 
                background: white;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                &-name{
                    font-size: 16px;
                    font-family: "OpenSans";
                    color: rgb(70, 70, 70);
                    font-weight: bold;
                }
                &-text{
                    font-size: 14px;
                    font-family: "OpenSans";
                    color: rgb(129, 134, 142);
                    text-align: center;
                }
            }
        }
    }  
}

.form{
    min-height: 340px;
    width: 940px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
    align-content: space-between;
    &__wrapper {
        background: rgb(255, 255, 255);
        min-height: 553px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    &__item{
        padding: 0 20px;
        min-width: 287px;
        height: 40px;
    }
    &__textarea{
        width: 940px;
        height: 190px;
    }
    &__button{
        width: 940px;
        
        height: 53px;
        border: none;
        background: rgb(25, 189, 154);
        font-size: 16px;
        font-family: "OpenSans";
        color: rgb(255, 255, 255);
        
            
        border: none;
            cursor: pointer;
    }
}

.map{
    min-height: 429px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    align-content: center;
    &__wrapper {
        background: url('map.jpg') no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 429px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    } 
    &__background{
        min-height: 429px;
        width: 100%;
        background: rgba(25, 25, 25, 0.9); 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        align-content: center;
        &_text{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:center;
            align-items: center;
            align-content: center;
            &-pr{
                font-size: 16px;
                font-family: "OpenSans";
                color: rgb(255, 255, 255);
                text-transform: uppercase; 
                margin-right: 10px;
            } 
            &-button{
                width: 18px;
                height: 18px;
                background: url('elipse.png') no-repeat;
            }
            
        }
    }
}