.header {
  margin: 0 30px;
  min-height: 112px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header__wrapper {
  position: fixed;
  background: rgba(25, 25, 25, 0.4);
  min-height: 112px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 10;
}

.header__logo {
  font-family: 'Bigshot One', cursive;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.header__menu {
  width: 47%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header__menu_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 14%;
  height: 32px;
}

.header__menu_item-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
}

.header__menu_item:hover {
  border: 1px solid white;
  border-radius: 16px;
}

.header__menu_item:hover .header__menu_item-link {
  text-decoration: none;
  color: white;
}

.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.carousel-item {
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 736px;
}

.carousel-caption {
  top: 300px;
}

.carousel-caption-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  color: white;
}

.carousel-caption-pr {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.aboutus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 450px;
}

.aboutus__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 450px;
}

.aboutus__text {
  width: 43%;
}

.aboutus__text_name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #333b46;
  font-weight: bold;
}

.aboutus__text_pr {
  padding-top: 50px;
  padding-bottom: 35px;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #81868e;
  font-weight: bold;
}

.aboutus__text_form-button {
  background: white;
  min-width: 140px;
  height: 37px;
  font-size: 16px;
  font-family: "OpenSans";
  color: #333b46;
  border: 1px solid #333b46;
  border-radius: 16px;
  cursor: pointer;
}

.aboutus__phone {
  margin-left: 50px;
}

.details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  min-height: 615px;
  width: 100%;
}

.details__wrapper {
  background: #f3f3f3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 615px;
  width: 100%;
}

.details__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
  width: 450px;
}

.details__title_name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
}

.details__title_pr {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.details__icon {
  width: 210px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.details__icon_heart {
  background: url("heart.png") no-repeat;
  width: 53px;
  height: 53px;
}

.details__icon_mouse {
  background: url("mouse.png") no-repeat;
  width: 53px;
  height: 53px;
}

.details__icon_lump {
  background: url("lump.png") no-repeat;
  width: 53px;
  height: 53px;
}

.details__icon_heart:hover {
  background: url("hearthover.png") no-repeat;
}

.details__icon_mouse:hover {
  background: url("mousehover.png") no-repeat;
}

.details__icon_lump:hover {
  background: url("lumphover.png") no-repeat;
}

.details__text {
  min-height: 170px;
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.details__text_item-caption {
  min-height: 30px;
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #464646;
}

.details__text_item-paragraph {
  margin-top: 30px;
  font-size: 16px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.details__text_item-paragraph:nth-child(2) {
  margin-top: 30px;
}

.details__text_item:nth-child(1) {
  width: 33%;
}

.details__text_item:nth-child(2) {
  width: 55%;
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  min-height: 560px;
  width: 100%;
}

.projects__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 560px;
  width: 100%;
}

.projects__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
  width: 450px;
}

.projects__title_name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
}

.projects__title_pr {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.projects__featured {
  margin-top: 60px;
  min-height: 320px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.projects__featured_item:nth-child(1) {
  width: 50%;
}

.projects__featured_item:nth-child(2), .projects__featured_item:nth-child(3) {
  width: 25%;
}

.projects__featured_item:hover {
  filter: grayscale(100%) brightness(34%) contrast(94%);
  -webkit-filter: grayscale(100%) brightness(34%) contrast(94%);
}

.fold {
  margin: 0 30px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  min-height: 115px;
}

.fold__wrapper {
  background: url("shoots.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 115px;
}

.fold__text {
  font-size: 20px;
  font-family: "OpenSans";
  color: white;
}

.fold__form {
  margin-left: 40px;
}

.fold__form_button {
  background: none;
  min-width: 140px;
  height: 37px;
  font-size: 16px;
  font-family: "OpenSans";
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  cursor: pointer;
}

.services {
  min-height: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.services__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 640px;
}

.services__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
  width: 450px;
}

.services__title_name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
}

.services__title_pr {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.services__menu {
  width: 80%;
  min-height: 300px;
}

.services__menu .row {
  width: 100%;
  min-height: 300px;
}

.services__menu .col-4 {
  width: 53px !important;
  min-height: 300px;
}

.services__menu .col-123 {
  margin-left: 10px;
  width: 900px;
  min-height: 300px;
}

.services__menu .tab-content {
  width: 900px;
  height: 300px;
}

.services__menu .tab-pane .fade {
  width: 900px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.services__menu .tab-pane-text {
  width: 900px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.services__menu .tab-pane-text-name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
  width: 400px;
}

.services__menu .tab-pane-text-pr {
  font-size: 16px;
  font-family: "OpenSans";
  color: #81868e;
  width: 400px;
}

.services__menu .tab-pane-text-listen {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.services__menu .tab-pane-text-listen-circle-caption {
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto";
  color: #81868e;
}

.services__menu .list-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-end;
  max-width: 10%;
  min-height: 300px;
}

.services__menu .list-group-item {
  background: url("screwdriver.png") no-repeat;
  height: 53px;
  width: 53px;
  border: none;
}

.services__menu .list-group-item:nth-child(2) {
  background: url("build.png") no-repeat;
  height: 53px;
  width: 53px;
  border: none;
}

.services__menu .list-group-item:nth-child(3) {
  background: url("game.png") no-repeat;
  height: 53px;
  width: 53px;
  border: none;
}

.services__menu .list-group-item:nth-child(4) {
  background: url("socket.png") no-repeat;
  height: 53px;
  width: 53px;
  border: none;
}

.services__menu .list-group-item.active {
  background: url("screwdriverhover.png") no-repeat;
  height: 53px;
  width: 53px;
  border: none;
}

.services__menu .list-group-item.active:nth-child(2) {
  background: url("buildhover.png") no-repeat;
  height: 53px;
  width: 53px;
  border: none;
}

.services__menu .list-group-item.active:nth-child(3) {
  background: url("gamehover.png") no-repeat;
  height: 53px;
  width: 53px;
  border: none;
}

.services__menu .list-group-item.active:nth-child(4) {
  background: url("sockethover.png") no-repeat;
  height: 53px;
  width: 53px;
  border: none;
}
