.header {
  z-index: 20;
  margin: 0 30px;
  min-height: 112px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header__wrapper {
  position: fixed;
  background: rgba(25, 25, 25, 0.4);
  min-height: 112px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 10;
}

.header__logo {
  font-family: 'Bigshot One', cursive;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.header__menu {
  width: 47%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header__menu_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 14%;
  height: 32px;
}

.header__menu_item-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
}

.header__menu_item:hover {
  border: 1px solid white;
  border-radius: 16px;
}

.header__menu_item:hover .header__menu_item-link {
  text-decoration: none;
  color: white;
}

.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.carousel-item {
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 736px;
}

.carousel-caption {
  top: 300px;
}

.carousel-caption-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  color: white;
}

.carousel-caption-pr {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.aboutus {
  margin: 0 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 450px;
}

.aboutus__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 450px;
}

.aboutus__text {
  width: 43%;
}

.aboutus__text_name {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #333b46;
  font-weight: bold;
}

.aboutus__text_pr {
  padding-top: 50px;
  padding-bottom: 35px;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #81868e;
  font-weight: bold;
}

.aboutus__text_form-button {
  background: white;
  min-width: 140px;
  height: 37px;
  font-size: 16px;
  font-family: "OpenSans";
  color: #333b46;
  border: 1px solid #333b46;
  border-radius: 16px;
  cursor: pointer;
}

.aboutus__phone {
  margin-left: 50px;
}

.details {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  min-height: 615px;
  width: 100%;
}

.details__wrapper {
  background: #f3f3f3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 615px;
  width: 100%;
}

.details__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
  width: 450px;
}

.details__title_name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
}

.details__title_pr {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.details__icon {
  width: 210px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.details__icon_heart {
  background: url("heart2.png") no-repeat #81868e 50% 50%;
  width: 53px;
  height: 53px;
  border-radius: 28px;
}

.details__icon_heart-background {
  opacity: 0;
  width: 53px;
  height: 53px;
  border-radius: 28px;
  background: url("heart2.png") no-repeat #19bd9a 50% 50%;
}

.details__icon_mouse {
  background: url("mouse1.png") no-repeat #81868e 50% 40%;
  width: 53px;
  height: 53px;
  border-radius: 28px;
}

.details__icon_mouse-background {
  opacity: 0;
  width: 53px;
  height: 53px;
  border-radius: 28px;
  background: url("mouse1.png") no-repeat #19bd9a 50% 40%;
}

.details__icon_lump {
  background: url("lump1.png") no-repeat #81868e 50% 50%;
  width: 53px;
  height: 53px;
  border-radius: 28px;
}

.details__icon_lump-background {
  opacity: 0;
  width: 53px;
  height: 53px;
  border-radius: 28px;
  background: url("lump1.png") no-repeat #19bd9a 50% 50%;
}

.details__icon_heart:hover .details__icon_heart-background {
  opacity: 1;
}

.details__icon_mouse:hover .details__icon_mouse-background {
  opacity: 1;
}

.details__icon_lump:hover .details__icon_lump-background {
  opacity: 1;
}

.details__text {
  min-height: 170px;
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.details__text_item-caption {
  min-height: 30px;
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #464646;
}

.details__text_item-paragraph {
  margin-top: 30px;
  font-size: 16px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.details__text_item-paragraph:nth-child(2) {
  margin-top: 30px;
}

.details__text_item:nth-child(1) {
  width: 33%;
}

.details__text_item:nth-child(2) {
  width: 55%;
}

.projects {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  min-height: 560px;
  width: 100%;
}

.projects__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 560px;
  width: 100%;
}

.projects__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
  width: 450px;
}

.projects__title_name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
}

.projects__title_pr {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.projects__featured {
  margin-top: 60px;
  min-height: 319px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.projects__featured_item:nth-child(1) {
  background: url("whisky.jpg") no-repeat;
  width: 701px;
  height: 319px;
}

.projects__featured_item:nth-child(2) {
  background: url("whisky2.jpg") no-repeat;
  width: 336px;
  height: 319px;
}

.projects__featured_item:nth-child(3) {
  background: url("whisky3.jpg") no-repeat;
  width: 316px;
  height: 319px;
}

.projects__featured_item:hover {
  filter: grayscale(100%) brightness(34%) contrast(94%);
  -webkit-filter: grayscale(100%) brightness(34%) contrast(94%);
}

.fold {
  margin: 0 30px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  min-height: 115px;
}

.fold__wrapper {
  background: url("shoots.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 115px;
}

.fold__text {
  font-size: 20px;
  font-family: "OpenSans";
  color: white;
}

.fold__form {
  margin-left: 40px;
}

.fold__form_button {
  background: none;
  min-width: 140px;
  height: 37px;
  font-size: 16px;
  font-family: "OpenSans";
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  cursor: pointer;
}

.services {
  min-height: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.services__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 640px;
}

.services__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
  width: 450px;
}

.services__title_name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
}

.services__title_pr {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.services__menu {
  width: 80%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.services__menu .row {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.services__menu .col-4 {
  width: 53px !important;
  min-height: 300px;
}

.services__menu .col-123 {
  margin-left: 10px;
  width: 900px;
  min-height: 300px;
}

.services__menu .tab-content {
  width: 900px;
  height: 300px;
}

.services__menu .tab-pane .fade {
  width: 900px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.services__menu .tab-pane-text {
  width: 900px;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.services__menu .tab-pane-text-name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
  width: 400px;
}

.services__menu .tab-pane-text-pr {
  font-size: 16px;
  font-family: "OpenSans";
  color: #81868e;
  width: 400px;
  min-height: 100px;
}

.services__menu .tab-pane-text-listen {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.services__menu .tab-pane-text-listen-circle-caption {
  padding-top: 15px;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto";
  color: #81868e;
}

.services__menu .list-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-end;
  max-width: 10%;
  min-height: 300px;
}

.services__menu .list-group-item {
  background: url("screwdriver1.png") no-repeat #81868e 50% 50%;
  height: 53px;
  width: 53px;
  border-radius: 27px;
  border: none;
}

.services__menu .list-group-item:nth-child(2) {
  background: url("build1.png") no-repeat #81868e 50% 50%;
  height: 53px;
  width: 53px;
  border-radius: 27px;
  border: none;
}

.services__menu .list-group-item:nth-child(3) {
  background: url("game1.png") no-repeat #81868e 50% 40%;
  height: 53px;
  width: 53px;
  border-radius: 27px;
  border: none;
}

.services__menu .list-group-item:nth-child(4) {
  background: url("socket1.png") no-repeat #81868e 55% 50%;
  height: 53px;
  width: 53px;
  border-radius: 27px;
  border: none;
}

.services__menu .list-group-item.active {
  background: url("screwdriver1.png") no-repeat #19bd9a 50% 50%;
  height: 53px;
  width: 53px;
  border-radius: 27px;
  border: none;
}

.services__menu .list-group-item.active:nth-child(2) {
  background: url("build1.png") no-repeat #19bd9a 50% 50%;
  height: 53px;
  width: 53px;
  border-radius: 27px;
  border: none;
}

.services__menu .list-group-item.active:nth-child(3) {
  background: url("game1.png") no-repeat #19bd9a 50% 40%;
  height: 53px;
  width: 53px;
  border-radius: 27px;
  border: none;
}

.services__menu .list-group-item.active:nth-child(4) {
  background: url("socket1.png") no-repeat #19bd9a 55% 50%;
  height: 53px;
  width: 53px;
  border-radius: 27px;
  border: none;
}

.quotes {
  margin: 0 30px;
  position: relative;
  margin: 0 30px;
  min-height: 392px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.quotes__wrapper {
  background: url("quotes.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 392px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.quotes__text {
  width: 51%;
}

.quotes__text_caption {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #f3f3f3;
}

.quotes__text_about {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: "OpenSans";
  color: #b2b3b3;
  width: 81%;
}

.quotes__text_name {
  font-size: 14px;
  font-family: "OpenSans";
  color: #b2b3b3;
  font-weight: bold;
}

.quotes__text_profesion {
  font-size: 14px;
  font-family: "OpenSans";
  color: #b2b3b3;
}

.quotes__text_profesion span {
  color: #1aa88a;
}

.quotes__photo {
  background: url("apple.png") no-repeat;
  width: 409px;
  min-height: 340px;
  top: -30px;
  right: 50px;
  position: absolute;
}

.portfolio {
  margin: 0 30px;
  min-height: 1635px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.portfolio__wrapper {
  background: #f3f3f3;
  min-height: 1635px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.portfolio__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
  width: 450px;
}

.portfolio__title_name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
}

.portfolio__title_pr {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.portfolio__menu {
  width: 42%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.portfolio__menu_item a {
  text-decoration: none;
  font-size: 16px;
  font-family: "OpenSans";
  color: #464646;
}

.portfolio__menu_item:hover {
  border-bottom: 2px solid #19bd9a;
  font-weight: bold;
}

.portfolio__gallery {
  width: 1112px;
  height: 950px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}

.portfolio__gallery_image {
  width: 100%;
  height: 100%;
}

.portfolio__gallery_image_background {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.portfolio__gallery_image_background_text {
  z-index: 10;
  min-height: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  opacity: 0;
  padding: 0 40px;
}

.portfolio__gallery_image_background_text-name {
  filter: none;
  -webkit-filter: none;
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #19bd9a;
}

.portfolio__gallery_image_background_text-line {
  border: 1px solid #19bd9a;
  width: 23px;
}

.portfolio__gallery_image_background_text-pr {
  font-size: 12px;
  font-family: "OpenSans";
  color: #b2b3b3;
  transition: all 0.2s linear;
}

.portfolio__gallery_image:hover .portfolio__gallery_image_background {
  background: rgba(25, 25, 25, 0.9);
}

.portfolio__gallery_image:hover .portfolio__gallery_image_background_text {
  opacity: 1;
}

.portfolio__gallery_image:nth-child(1) {
  background: url("image1.jpg") no-repeat;
  width: 270px;
  height: 361px;
}

.portfolio__gallery_image:nth-child(4) {
  background: url("image2.jpg") no-repeat;
  width: 270px;
  height: 229px;
}

.portfolio__gallery_image:nth-child(7) {
  background: url("image3.jpg") no-repeat;
  width: 270px;
  height: 301px;
}

.portfolio__gallery_image:nth-child(10) {
  background: url("image4.jpg") no-repeat;
  width: 270px;
  height: 361px;
}

.portfolio__gallery_image:nth-child(2) {
  background: url("image5.jpg") no-repeat;
  width: 270px;
  height: 361px;
}

.portfolio__gallery_image:nth-child(5) {
  background: url("image6.jpg") no-repeat;
  width: 270px;
  height: 344px;
  align-self: flex-start;
}

.portfolio__gallery_image:nth-child(8) {
  background: url("image7.jpg") no-repeat;
  width: 270px;
  height: 374px;
}

.portfolio__gallery_image:nth-child(11) {
  background: url("image8.jpg") no-repeat;
  width: 270px;
  height: 269px;
}

.portfolio__gallery_image:nth-child(3) {
  background: url("image9.jpg") no-repeat;
  width: 270px;
  height: 209px;
}

.portfolio__gallery_image:nth-child(6) {
  background: url("image10.jpg") no-repeat;
  width: 270px;
  height: 357px;
}

.portfolio__gallery_image:nth-child(9) {
  background: url("image11.jpg") no-repeat;
  width: 270px;
  height: 255px;
}

.portfolio__gallery_image:nth-child(12) {
  background: url("image12.jpg") no-repeat;
  width: 270px;
  height: 301px;
}

.portfolio__cta {
  margin: 0 30px;
  background: url("cta.jpg") no-repeat;
  background-position: center;
  width: 100%;
  min-height: 201px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.portfolio__cta_text {
  font-size: 20px;
  font-family: "OpenSans";
  color: white;
  line-height: 1.25;
}

.portfolio__cta_form {
  margin-top: 30px;
}

.portfolio__cta_form-button {
  background: none;
  min-width: 140px;
  height: 37px;
  font-size: 16px;
  font-family: "OpenSans";
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  cursor: pointer;
}

.team {
  min-height: 770px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.team__wrapper {
  background: #f3f3f3;
  min-height: 770px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.team__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
  width: 450px;
}

.team__title_name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
}

.team__title_pr {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.team .carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 80%;
  min-height: 365px;
}

.team .carousel-indicators .active {
  background: #19bd9a;
}

.team .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #19bd9a;
  background: none;
}

.team .carousel-inner {
  width: 100%;
  min-height: 365px;
}

.team .carousel-item {
  width: 100%;
  min-height: 365px;
}

.team .carousel-caption {
  width: 100%;
  height: 435px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.team .carousel-caption-about {
  width: 100%;
  height: 365px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.team .carousel-caption-about-photo {
  background: url("veiper.jpg") no-repeat;
  width: 285px;
  height: 365px;
}

.team .carousel-caption-about-photo2 {
  background: url("veiper2.jpg") no-repeat;
  width: 285px;
  height: 365px;
}

.team .carousel-caption-about-text {
  color: black;
  width: 400px;
  height: 365px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}

.team .carousel-caption-about-text-name {
  font-size: 20px;
  font-family: "OpenSans";
  color: #464646;
  font-weight: bold;
}

.team .carousel-caption-about-text-profesion {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
  font-style: italic;
}

.team .carousel-caption-about-text-pr {
  margin: 35px 0;
  text-align: right;
  font-size: 14px;
  font-family: "OpenSans";
  color: #81868e;
}

.team .carousel-caption-about-text-item {
  margin: 10px 0;
  width: 330px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 30px;
}

.team .carousel-caption-about-text-item-statistik {
  width: 330px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.team .carousel-caption-about-text-item-statistik-mark {
  font-size: 16px;
  font-family: "SourceSansPro";
  color: #81868e;
  text-transform: uppercase;
}

.team .carousel-caption-about-text-item-statistik-percentages {
  font-size: 16px;
  font-family: "SourceSansPro";
  color: #81868e;
  text-transform: uppercase;
}

.team .carousel-caption-about-text-item-line1 {
  width: 330px;
  height: 4px;
  background: linear-gradient(to right, #25bf9f 0%, #19bd9a 0%, #19bd9a 81%, #e1e4e9 81%, #e1e4e9 100%);
}

.team .carousel-caption-about-text-item-line2 {
  width: 330px;
  height: 4px;
  background: linear-gradient(to right, #19bd9a 0%, #19bd9a 60%, #e1e4e9 60%, #e1e4e9 100%);
}

.team .carousel-caption-about-text-item-line3 {
  width: 330px;
  height: 4px;
  background: linear-gradient(to right, #19bd9a 0%, #19bd9a 79%, #e1e4e9 79%, #e1e4e9 100%);
}

.teamcta {
  margin: 0 30px;
  min-height: 201px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.teamcta__wrapper {
  background: url("ctateam.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 201px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.teamcta__text {
  font-size: 20px;
  font-family: "OpenSans";
  color: white;
  line-height: 1.25;
}

.teamcta__form {
  margin-top: 30px;
}

.teamcta__form_button {
  background: none;
  min-width: 140px;
  height: 37px;
  font-size: 16px;
  font-family: "OpenSans";
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  cursor: pointer;
}

.testimonials {
  margin: 0 30px;
  min-height: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.testimonials__wrapper {
  background: #f3f3f3;
  min-height: 650px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.testimonials__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
  width: 450px;
}

.testimonials__title_name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
}

.testimonials__title_pr {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.testimonials .carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 90%;
  min-height: 210px;
}

.testimonials .carousel-indicators .active {
  background: #19bd9a;
}

.testimonials .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #19bd9a;
  background: none;
}

.testimonials .carousel-inner {
  width: 100%;
  min-height: 210px;
}

.testimonials .carousel-item {
  width: 100%;
  min-height: 210px;
}

.testimonials .carousel-caption {
  background: white;
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.testimonials .carousel-caption-about {
  background: white;
  width: 100%;
  height: 210px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.testimonials .carousel-caption-about-photo {
  background: url("eyes.png") no-repeat;
  width: 130px;
  height: 130px;
}

.testimonials .carousel-caption-about-photo2 {
  background: url("fai.png") no-repeat;
  width: 130px;
  height: 130px;
}

.testimonials .carousel-caption-about-photo3 {
  background: url("gabri.png") no-repeat;
  width: 130px;
  height: 130px;
}

.testimonials .carousel-caption-about-text {
  color: black;
  width: 700px;
  height: 150px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.testimonials .carousel-caption-about-text-prs {
  text-align: justify;
  font-size: 16px;
  font-family: "OpenSans";
  color: #81868e;
}

.testimonials .carousel-caption-about-text-names {
  font-size: 16px;
  font-family: "OpenSans";
  color: #19bd9a;
  font-weight: bold;
}

.testimonials .carousel-caption-about-text-profesions {
  font-size: 16px;
  font-family: "OpenSans";
  color: black;
  line-height: 1.75;
}

.blog {
  margin: 0 30px;
  min-height: 693px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.blog__wrapper {
  background: url("blog.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 693px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.blog .carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  min-height: 693px;
}

.blog .carousel-indicators {
  align-items: flex-end;
  justify-content: center;
  top: 10px;
  flex-direction: column;
  width: 80%;
}

.blog .carousel-indicators .active {
  background: white;
}

.blog .carousel-indicators li {
  margin: 2px 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid white;
  background: none;
}

.blog .carousel-inner {
  width: 100%;
  min-height: 693px;
}

.blog .carousel-item {
  width: 100%;
  min-height: 693px;
}

.blog .carousel-caption {
  width: 100%;
  min-height: 693px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

.blog .carousel-caption-about {
  width: 100%;
  min-height: 693px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.blog .carousel-caption-about-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 460px;
  min-height: 150px;
}

.blog .carousel-caption-about-title-name {
  letter-spacing: 0.2em;
  font-size: 20px;
  font-family: "SourceSansPro";
  color: white;
}

.blog .carousel-caption-about-title-pr {
  text-align: left;
  font-size: 14px;
  font-family: "OpenSans";
  color: #b2b3b3;
}

.blog .carousel-caption-about-landingpages {
  margin: 0 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 45%;
  min-height: 400px;
}

.blog .carousel-caption-about-landingpages-name {
  font-size: 20px;
  font-family: "OpenSans";
  color: #e1e4e9;
}

.blog .carousel-caption-about-landingpages-author {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.blog .carousel-caption-about-landingpages-author span {
  color: #19bd9a;
}

.blog .carousel-caption-about-landingpages-likes {
  padding: 15px 0;
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #464646;
}

.blog .carousel-caption-about-landingpages-pr {
  margin: 45px 0;
  text-align: justify;
  font-size: 14px;
  font-family: "OpenSans";
  color: #81868e;
}

.blog .carousel-caption-about-landingpages-button {
  background: none;
  border: 1px solid #81868e;
  border-radius: 16px;
  min-width: 140;
  height: 35px;
  font-size: 16px;
  font-family: "OpenSans";
  color: #b2b3b3;
  cursor: pointer;
}

.price {
  margin: 0 30px;
  min-height: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.price__wrapper {
  background: #f3f3f3;
  min-height: 640px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.price__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
  width: 450px;
}

.price__title_name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
}

.price__title_pr {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.price__plans {
  width: 71%;
  min-height: 302px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

.price__plans_item {
  position: relative;
  width: 235px;
  min-height: 302px;
}

.price__plans_item-name {
  width: 100%;
  min-height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #19bd9a;
  font-size: 20px;
  font-family: "OpenSans";
  color: white;
  font-weight: bold;
}

.price__plans_item-payment {
  border: 1px solid rgba(207, 207, 207, 0.5);
  width: 100%;
  min-height: 235px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price__plans_item-payment-number {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #1fbba6;
  font-weight: bold;
  -moz-transform: matrix(2.11374, 0, 0, 2.11374, 0, 0);
  -webkit-transform: matrix(2.11374, 0, 0, 2.11374, 0, 0);
  -ms-transform: matrix(2.11374, 0, 0, 2.11374, 0, 0);
}

.price__plans_item-payment-month {
  font-size: 20px;
  font-family: "OpenSans";
  color: #81868e;
}

.price__plans_item-hover {
  opacity: 0;
  top: 0;
  position: absolute;
  width: 235px;
  min-height: 302px;
}

.price__plans_item-hover-list {
  border: 1px solid rgba(207, 207, 207, 0.5);
  padding: 34px;
  width: 100%;
  min-height: 235px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.price__plans_item-hover-list-offer {
  font-size: 16px;
  font-family: "OpenSans";
  color: #92969d;
}

.price__plans_item-hover-button {
  background: #19bd9a;
  font-size: 16px;
  font-family: "OpenSans";
  color: white;
  width: 100%;
  min-height: 67px;
  border: none;
  cursor: pointer;
}

.price__plans_item:hover .price__plans_item-hover {
  opacity: 1;
}

.subscribe {
  margin: 0 30px;
  min-height: 378px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.subscribe__wrapper {
  background: url("subscribe.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 378px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.subscribe__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
  width: 450px;
}

.subscribe__title_name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: white;
}

.subscribe__title_pr {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.subscribe__form {
  width: 521px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 40px;
}

.subscribe__form_email {
  padding: 0 20px;
  min-width: 355px;
  height: 40px;
  background: none;
  border: 1px solid #81868e;
  color: white;
}

.subscribe__form_button {
  width: 150px;
  height: 40px;
  border: none;
  background: #19bd9a;
  font-size: 16px;
  font-family: "OpenSans";
  color: white;
  border: none;
  cursor: pointer;
}

.contact {
  margin: 0 30px;
  min-height: 610px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.contact__wrapper {
  background: #f3f3f3;
  min-height: 610px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contact__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  min-height: 100px;
  width: 450px;
}

.contact__title_name {
  font-size: 20px;
  font-family: "SourceSansPro";
  color: #333b46;
}

.contact__title_pr {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: #81868e;
}

.contact__list {
  width: 80%;
  min-height: 272px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}

.contact__list_item {
  width: 287px;
  min-height: 272px;
}

.contact__list_item_email {
  background: url("email.jpg") no-repeat;
  width: 287px;
  height: 145px;
}

.contact__list_item_adress {
  background: url("adress.jpg") no-repeat;
  width: 287px;
  height: 145px;
}

.contact__list_item_phone {
  background: url("phone.jpg") no-repeat;
  width: 287px;
  height: 145px;
}

.contact__list_item_about {
  border: 1px solid rgba(207, 207, 207, 0.5);
  padding: 30px 0;
  width: 287px;
  min-height: 127px;
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.contact__list_item_about-name {
  font-size: 16px;
  font-family: "OpenSans";
  color: #464646;
  font-weight: bold;
}

.contact__list_item_about-text {
  font-size: 14px;
  font-family: "OpenSans";
  color: #81868e;
  text-align: center;
}

.form {
  min-height: 340px;
  width: 940px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}

.form__wrapper {
  background: white;
  min-height: 553px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form__item {
  padding: 0 20px;
  min-width: 287px;
  height: 40px;
}

.form__textarea {
  width: 940px;
  height: 190px;
}

.form__button {
  width: 940px;
  height: 53px;
  border: none;
  background: #19bd9a;
  font-size: 16px;
  font-family: "OpenSans";
  color: white;
  border: none;
  cursor: pointer;
}

.map {
  min-height: 429px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.map__wrapper {
  background: url("map.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 429px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.map__background {
  min-height: 429px;
  width: 100%;
  background: rgba(25, 25, 25, 0.9);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.map__background_text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.map__background_text-pr {
  font-size: 16px;
  font-family: "OpenSans";
  color: white;
  text-transform: uppercase;
  margin-right: 10px;
}

.map__background_text-button {
  width: 18px;
  height: 18px;
  background: url("elipse.png") no-repeat;
}

.footer {
  margin: 0 30px;
  min-height: 290px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer__wrapper {
  background: white;
  min-height: 290px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.footer__name {
  font-family: 'Bigshot One', cursive;
  font-size: 25px;
  color: #323a45;
  font-weight: bold;
}

.footer__copy {
  padding: 10px 0;
  font-size: 14px;
  font-family: "OpenSans";
  color: #81868e;
}

.footer__icon {
  padding: 20px 0;
}
